div {
  color: black;
  font-family: 'Open Sans',sans-serif;
  text-align: center;
  font-size:20pt;
}

img {
  width: 150px;
  float: left;
  position: relative ;
  top: -5px;
  margin: 0 15px 0 15px;
}

button {
  margin: 0 10px 0 10px;
}
.mapBox {
  height: 150px;
  width: 150px;
}
